.kaufman__triangle {
  position: absolute;
  right: -210px;
  top: 0;
  width: 877px;
  height: 877px;
  display: flex;
  margin: 0;
  background-image: url(./kaufman-triangle.svg); /*Это изображение неконтентное-перенесено из html сюда*/
}
